<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724781586650-8301oocvot30m4k7oo3up96ksgjvoonh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724781586650-8301oocvot30m4k7oo3up96ksgjvoonh</string>
	<key>API_KEY</key>
	<string>AIzaSyAKz3YeAsCblvVva25QrMoWmK6YAymKjk0</string>
	<key>GCM_SENDER_ID</key>
	<string>724781586650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-2a180</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-2a180.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724781586650:ios:9285795d8a8394b75dede3</string>
</dict>
</plist>